@model IEnumerable<DataAccess.Models.Member>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        /* Style for hiding password characters */
        .password-dot {
            font-family: "password"; /* Use a custom font to display dots */
        }
    </style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="../Product">Product</a>
        <a href="../Member">Member</a>
        <a href="../Order">Order</a>
        <a href="../OderDetail">OderDetail</a>
    </div>

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
    <h1>Index</h1>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success" style="text-align:center">
            <p style="color: red; font-size:20px"> @ViewBag.Message</p>
        </div>
    }
    @{
        string id = ViewBag.Id;
        if (id == null || id.Equals(""))
        {
            <p>You don't have permission to see it</p>
        }
        else
        {
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for EVERYTHING in client.." title="Type in a name" style="width: 300px">
            @using (Html.BeginForm("Index", "Member"))
            {
                <div class="form-group">
                    <input placeholder="Search for EVERYTHING in server.." type="text" name="key" style="width: 300px" />
                    <input type="submit" value="Search" />
                </div>
            }

            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.MemberId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.City)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>
                        <th>
                            Password
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MemberId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td class="password-dot">
                                ••••••••••
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MemberId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MemberId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MemberId })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        }
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 1; i < tr.length; i++) {
                    var txtValue = "";
                    for (j = 0; j < tr[i].getElementsByTagName("td").length; j++) {
                        td = tr[i].getElementsByTagName("td")[j];
                        txtValue += " " + td.innerText;
                    }
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        </script>

    }
</body>
</html>
